<div class="button-row">
    <button mat-stroked-button (click)="download()">Download</button>
    <button mat-stroked-button class="btnCopy" data-clipboard-target="#qurl">Copy Questionnaire URL</button>
    <button mat-stroked-button class="btnCopy" data-clipboard-target="#rurl">Copy Results URL</button>
</div>
<div class="monospace pre-line content" id="content">
    Questionnaire URL:<br />
    <span id="qurl">{{ questionnaireAddress }}</span><br />
    Results URL:<br />
    <span id="rurl">{{ resultAddress }}</span>
</div>