@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.monospace {
  font-family: monospace, monospace;
}

.pre-line {
  white-space: pre-line;
}

.button-row button {
  margin-right: 8px;
}

.content {
  margin-top: 0.5em;
}